@import "tailwindcss";

@theme {
  --color-bg: #1a1b26;
  --color-text: #c0caf5;
  --color-bg-muted: #414868;
  --color-text-muted: #9aa5ce;
  --color-accent: #7dcfff;
}

:root {
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

